.ai-image-generator{
    display:flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 40px;
    margin-bottom:10px;
    gap:20px;
}

.header{
    font-size:40px;
    font-weight: 500;
    padding-bottom: 20px;
}


.header span {

    color:#DE1B89;
    font-weight: 600;
}


.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 340px;
    height: 340px;
}

.search-box{
    display: flex;
    width: 700px;
    height:50px;
    justify-content:space-around;
    align-items: center;
    border-radius: 50px;
    background:#1F3540;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


.search-input{
    width: 450px;
    height: 50px;
    background: transparent;
    border: none;
    outline:none;
    font-size: 20px;
    color:white;
    padding-left: 35px;
    padding-right: 35px;
}

.search-input::placeholder{
    color: #999;

}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}